*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}


html, body{
    background: rgb(6,7,77);
    background: radial-gradient(circle, rgba(4,6,51,1) 37%, rgba(1,2,14,1) 100%);
    color: white;
}


/*Navbar Content*/
#navbar{
     background-color: #141538;
    height: 45px;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo{
    margin: 0 300px 0 150px;
    padding: 3px;
    border-radius: 10px;
   
}

#navbar a{
    text-decoration:none;
    color: white;
    padding: 3px;
    border-radius: 10px;
}

.logo:hover, #navbar a:hover{
    border-radius: 10px;
    padding: 3px;
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 60px #0ef;
}

/* Home Content */
section{
    height: 100vh;
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#homeContent{
    width: 50%;
}

#profilePhoto{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-image: url("homeLogo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #0ef;
    box-shadow: 0 0 60px #0ef;
}

#home h1{
        font-size: 34px;
        font-weight: 600;
    }
#home h3{
    font-size: 29px;
    font-weight: 400;
}

#homeIcons{
        font-size: 30px;
        color: white;
    }
    
#facebook, #whatsapp, #instagram{
    border: 1.5px solid white;
    background: #0ef;
    border-radius: 8px;
}
#facebook:hover, #whatsapp:hover, #instagram:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 30px #0ef;
}

.btn-box{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 1px 5px 1px 5px;
    background-color: rgb(9, 90, 104);
    border-radius: 5px;
}
.btn-box:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 30px #0ef;
}


/*About Content*/
#photo{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-image: url("homeLogo1.jpg");
    background-position: center;
    border: 5px solid #0ef;
    box-shadow: 0 0 60px #0ef;
    margin: 0 100px 0 100px;
}


#aboutMe{
    width: 50%;
    margin: 0px 100px 0px 50px;
    
}

#about h1{
    font-size: 34px;
    font-weight:600;
}
#about h3{
    font-size: 29px;
    font-weight: 400;
}


/*Services Content*/
#service{
    height: 100vh;
    width:100%; 
}
#service h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
#serviceContent{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#webDesign,#dataEntry, #programming{
    height: 220px;
    width: 350px;
    border: 1.5px solid #0ef;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 15px #0ef;
    padding: 10px;
}


/*skills content*/
#skill{
    height: 100vh;
    
}
#skill h2{
    font-size: 32px;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}

#skill123{
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


#techSkill{
    width: 38%;
}
#techSkill h3{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: underline;
    text-align: center;
}
.skillBar{
    height: 15px;
    width: 100%;
    background-color: gray;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 35px;
}
.skillLevel{
    height: 100%;
    text-align: right;
    padding-right: 10px;
    line-height: 15px;
    color: #081b29;
    background-color: blue;
    border-radius: 25px;
}
.html{
    width: 90%;
    background-color: #0ef;
    animation: fillBarh .25s forwards;

}
@keyframes fillBarh {
    0%{
        width: 0;
    }
    100%{
        width: 90%;
    }
}

.css{
    width: 80%;
    background-color: #0ef;
    animation: fillBarcss .5s forwards;

}
@keyframes fillBarcss {
    0%{
        width: 0;
    }
    100%{
        width: 80%;
    }
}

.js{
    width: 60%;
    background-color: #0ef;
    animation: fillBarjs .75s forwards;

}
@keyframes fillBarjs {
    0%{
        width: 0;
    }
    100%{
        width: 60%;
    }
}

.c{
    width: 50%;
    background-color: #0ef;
    animation: fillBarc 1s forwards;

}
@keyframes fillBarc {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}

.cpp{
    width: 50%;
    background-color: #0ef;
    animation: fillBarcpp 1.5s forwards;

}
@keyframes fillBarcpp {
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
.skillBar:hover{
    box-shadow: 0 0 30px #0ef;
}






 
 .container12 {
    text-align: right;
}


.skill-container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 50px;
    margin-top: 50px;
}

.container12 h3{
    text-align:center;
    font-size: 30px;
    font-weight: 600;
    text-decoration: underline;
    margin-top:90px;
}


.skill123{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 100px 0 100px;
}


.circle {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle:hover{
    box-shadow: 0 0 30px #0ef;
}


.circle::before {
    content: '';
    position: absolute;
    width: 130px;
    height: 130px;
    background: rgb(6,7,77);
    background: radial-gradient(circle, rgba(6,7,77,1) 37%, rgba(1,2,14,1) 100%);
    border-radius: 50%;
}


.circle span {
    position: relative;
    font-size: 30px;
    font-weight: 600;
}


.skill p {
    margin-top: 10px;
    font-weight: 500;
}








/*projects content*/
#project{
    height: 100vh;
    width:100%; 
}
#project h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}
#projectContent{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#box{
    height: 250px;
    width: 350px;
    border: 1.5px solid #0ef;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 0 15px #0ef;
    padding: 10px;
 }


/*Contact Content*/
#contact{
        width: 70%;
}
        
#contacth1{
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    text-decoration: underline;
}
        
#contacth2{
    font-size: 34px;
    font-weight: 500;
}       

#email{
    border: 1.5px solid white;
    background: #0ef;
    border-radius: 8px;
}
#email:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 30px #0ef;
}






@media only screen and (max-wisth: 480px){
    body{
        font-size: 20px;
    }
}
@media only screen and (max-width: 480px;){
    main #home{
        display: flex;
    }
}

